
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: linear-gradient(135deg,#71b7e6,#9b59b6);
}

.container{
    max-width: 700px;
    width: 100%;
    background: #fff;
    padding: 25px 30px;
    border-radius: 5px;
    
}

.container .title{
    font-weight: 500;
    font-size: 25px;
    position: relative;
}

.container .title::before{
    content: "";
    position: absolute;
    left:0;
    bottom: 0;
    height:3px;
    width: 30px;
    background: linear-gradient(135deg,#71b7e6,#9b59b6);
}
.container form .users-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

form .users-details .input-box{
    margin: 20px 0 12px 0;
    width: calc(100%/2 - 20px);
}

.users-details .input-box .details{
    font-weight: 500;
    margin-bottom: 5px;
}

.users-details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 10px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;

}
.users-details .input-box input:focus,
.users-details .input-box input:valid{
    border-color:#9b59b6 ;
}

form .gender-details .gender-title{
    font-size: 20px;
    font-weight: 500;
}
form .gender-details .category{
    display: flex;
    width:80%;
    margin:14px 0
}
.gender-details .category label{
    display: flex;
    align-items: center;
    margin: auto 15px;
}

.gender-details .category .dot{
    height: 18px;
    width:18px;
    background: #d9d9d9;
    border-radius: 50%;
    margin-right: 10px;
    border:5px solid transparent;
    transition: all 0.3s ease;
    
}

#dot-1:checked ~ .category label .one,
#dot-2:checked ~ .category label .two{
    border-color: #d9d9d9;
    background: #9b59b6;

}
form input[type="radio"]{
    display: none;
}

form .button{
    height:45px;
    margin:45px 0;
}

form .button button{
    height: 100%;
    width: 100%;
    outline: none;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 5px;
    background: linear-gradient(135deg,#71b7e6,#9b59b6);
}

form .button button:hover{
    background: linear-gradient(-135deg,#71b7e6,#9b59b6);
}

button a {
    text-decoration: none;
    color: white;
}

@media (max-width:584px) {
    .container{
        max-width: 700px;
    }
    form .users-details .input-box{
        width: 100%;
        margin-bottom: 15px;
    }
    form .gender-details .category{
        width:100%;
        
    }
    .container form .users-details{
        max-height: 300px;
        overflow-y: scroll;
    }.users-details::-webkit-scrollbar{
        width: 0;
    }


    
}